<% include ../partials/bootstrap_boilerplate %>
    <% include ../partials/header %>

        <div class="content-container">
            <a href='/mbta/select-origin'>
                <button type="button" class="btn btn-primary btn-lg begin-ticket-bttn"> Click Here To Buy Your Ticket</button>
            </a>
        </div>

        <% include ../partials/end %>